<div class="container">
  <div class="row text-center">
    <div class="col-md-12 text-center">
      <h2 class="mb-0 mt-2 text-uppercase">Assignment</h2>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-sm-12 col-md-5">
      <div class="input-group d-block ">
        <div class="m-input-icon m-input-icon--right">
          <input (keyup)="search($event.target.value)" class="form-control m-input" placeholder="Search by Title Name" type="text">
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span>
              <i class="la flaticon-search-1"></i>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body p-0">
      <div class="mat-elevation-z8">
        <table class="custom-table approvedSkillTable" mat-table [dataSource]="dataSource" matSort>
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> TItle </th>
            <td mat-cell class="text-capitalize" *matCellDef="let row">
              <a title="See Company Details" (click)="showDetail(row)" class="capitalize">{{row?.title ? row?.title : 'N/A'}}</a>
            </td>
          </ng-container>
          <!-- Url Column -->
          <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef>Url </th>
            <td mat-cell class="text-capitalize" *matCellDef="let row">{{row?.url ? row?.url : '-'}}
            </td>
          </ng-container>
          <!-- Created At Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Created At </th>
            <td mat-cell *matCellDef="let row"> {{row?.created_at | date}}</td>
          </ng-container>
          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> author </th>
            <td mat-cell *matCellDef="let row">
              <strong class="text-capitalize">{{row?.author ? row?.author : '-'}}</strong>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <div class="text-center no-record p-3" *ngIf="!(data?.length>0) || !(dataSource.filteredData.length > 0)">No record found</div>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>